$width_block: 1360px;

.innerContent {
  padding: 35px 0 0 20px;
  background: url(#{$path-svg}/pages/puzzles-bg.svg) center bottom / cover
    no-repeat;

  & .goBack {
    display: flex;
    align-items: center;

    & .image {
      margin-right: 12px;
      display: flex;
      cursor: pointer;
    }
  }

  & .blockButtons {
    display: flex;
    align-items: center;
    margin-bottom: 34px;

    & .slider {
      margin-left: 64px;
    }

    & .buttonAdd {
      padding: 3px 3px 0 0;
      cursor: pointer;
      background: #ffffff;
      padding-left: 20px;
      margin-left: -20px;
      border-radius: 10px;
    }
  }

  & .pattern {
    width: $width_block;
    background: #ffffff;
    border-radius: 10px;
    padding: 37px 160px 38px 81px;

    & input {
      padding: 11px 16px;
      background: #ffffff;
      box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
      border-radius: 10px;
      border: none;
    }

    & h3 {
      font-family: 'Montserrat Alternates';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: #0f123f;
    }

    & p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    & .patternNames {
      display: flex;
      justify-content: space-between;
      margin-bottom: 54px;

      & .namePattern {
        display: flex;
        align-items: center;

        & .namePatternText {
          margin-left: 30px;

          & input {
            width: 280px;
          }
        }
      }
    }

    & .levels {
      display: flex;
      margin: 37px 0 35px 0;

      & .fromTo {
        display: flex;

        & .fromToText {
          margin: 0 21px 0 15px;
        }
      }

      & .rangeLevels {
        margin-right: 84px;
      }
    }

    & .time {
      display: flex;

      & p {
        margin-right: 30px;
      }
    }
  }

  & .titleDescription {
    margin: 23px 0 17px 0;
    font-family: 'Montserrat Alternates', system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #4778ec;
  }

  & .description {
    width: $width_block;
    margin-bottom: 30px;
  }

  & input {
    outline: none;
    height: 40px;
    width: 150px;
  }

  & .buttonSubmit {
    display: flex;
    justify-content: flex-end;
    width: $width_block;

    & .button {
      padding: 11px 103px;
    }
  }
}
