.container {
  position: relative;
  width: 320px;
  height: 475px;
  padding: 15px 15px 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: right bottom;

  &.introductory {
    $color: #195bf8;

    background-image: url(#{$path-svg}/tariff-card/bg-introductory.svg),
      linear-gradient(180deg, $color 0%, rgba(74, 71, 236, 0.74) 100%);

    &:hover {
      box-shadow: 0px 0px 60px 0px $color;
    }
  }
  &.independent {
    $color: #012884;

    background-image: url(#{$path-svg}/tariff-card/bg-independent.svg),
      linear-gradient(180deg, $color 0%, rgba(75, 17, 85, 0.74) 100%);

    &:hover {
      box-shadow: 0px 0px 60px 0px $color;
    }
  }
  &.advanced {
    $color: #045337;

    background-image: url(#{$path-svg}/tariff-card/bg-advanced.svg),
      linear-gradient(
        180deg,
        #045337 0%,
        rgba(8, 86, 67, 0.88625) 43.75%,
        rgba(52, 250, 214, 0.74) 100%
      );

    &:hover {
      box-shadow: 0px 0px 60px 0px $color;
    }
  }
  &.personal {
    $color: #132d28;

    background-image: url(#{$path-svg}/tariff-card/bg-personal.svg),
      linear-gradient(
        180deg,
        #132d28 0%,
        rgba(209, 191, 92, 0.74) 100%,
        rgba(202, 188, 113, 0.74) 100%
      );

    &:hover {
      box-shadow: 0px 0px 60px 0px $color;
    }
  }
}
.titleContainer {
  position: relative;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  color: white;
  font: $font-small;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.discountContainer {
  position: absolute;
  bottom: -6px;
  right: -5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(#{$path-svg}/tariff-card/bg-discount.svg) -6px -6px;
  border-radius: 50%;
}
.discount {
  transform: rotate(-30deg);
}
.options {
  width: 215px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: auto;
  font: $font-smaller;
  line-height: 1em;
  font-weight: 700;
  color: white;
}
.extraOption {
  margin-left: 25px;
  margin-bottom: 15px;
  font: $font-smaller;
  font-weight: 700;
  color: white;
}
.extraOptionVisualiser {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 260px;
  top: 90px;
  background: $color-red;
  opacity: 0.6;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 90%;
}
.moneyAmountContainer {
  display: flex;
  column-gap: 20px;
  align-self: center;
}
.moneyAmountOld {
  font-size: 18px;
  line-height: 118%;
  color: $color-red;
  text-decoration: line-through;
}
.moneyAmount {
  font-size: 18px;
  line-height: 118%;
  color: white;
  margin-bottom: 10px;
  align-self: center;
}
.btn {
  width: 215px;
  align-self: center;
}
