.container {
  padding: 30px 25px 0;
  background: #ffffff;
  border-radius: 10px;
}
.title {
  text-align: center;
  font: $font-header;
  color: $color-visualiser;
}
.progressBars {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progressBar {
  width: 50%;
  position: relative;

  &:nth-child(odd):not(&:nth-child(-n + 2)) {
    &::before {
      content: '';
      width: 390px;
      height: 1px;
      background-color: #ededff;
      position: absolute;
      left: -10px;
      top: 0;
    }
  }
}

.button {
  @include position-center;
}
