.container {
  padding-top: 10px;
  padding-bottom: 10px;
  font: $font-small;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}

.red {
  background-color: $color-secondary-button;
  padding-left: 65px;
  padding-right: 65px;
}

.blue {
  padding-left: 45px;
  padding-right: 45px;
  background-color: $color-button;
}
