.container {
  width: 1140px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
}
.header {
  padding: 15px 20px;
  background-color: #f3f6f9;
  border-radius: 6px;
  font: $font-smaller;
  color: #b5b5c3;
}
.fullNameTitle {
  color: #464e5f;
}
.student {
  padding: 15px 20px;
  font: $font-small;
  color: #464e5f;
}
.fullName {
  color: black;
}
