.innerContent {
  padding: 35px 0 85px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: url(#{$path-svg}/pages/abacus-bg.svg) right calc(100% - 85px)
    no-repeat;

  & .blockPersonal {
    box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
    border-radius: 10px;
    width: 747px;
    height: 220px;
    display: flex;
    align-items: center;
    background: url('../../../public/svgs/personal-data.png') top no-repeat,
      #ffffff;
    position: relative;
    margin: 10px;

    & .avatar {
      background: #4778ec;
      border-radius: 18px;
      margin-left: 37px;
      width: 181px;
      height: 173px;
      display: flex;
      align-items: center;
      justify-content: center;

      & .avatarImg {
        border-radius: 14px;
        width: 173px;
        height: 165px;
        border: 5px solid red;
      }
    }

    & .avatarAdd {
      background: url('../../../public/svgs/user-add.svg') center no-repeat,
        #4778ec;
      width: 171px;
      height: 171px;
      border-radius: 18px;
      margin-left: 37px;
      //padding: 54px 65px 55px 65px;
    }

    & .information {
      margin-left: 38px;

      & p.name {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat Alternates', sans-serif;
        color: $color-black;
      }

      & p.informationItem {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #babec6;
        margin-top: 10px;

        & span {
          font-size: 14px;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          color: #4778ec;
          margin-left: 12px;
        }
      }

      & .informationAdd {
        display: flex;
      }
    }

    & .icons {
      position: absolute;
      top: 33px;
      right: 23px;
      display: flex;
    }
  }
}
