.container {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font: $font-small;
  color: black;
  white-space: nowrap;
}

.text {
  min-width: 125px;
}

.input {
  width: 100px;
  font: $font-small;
  color: $color-secondary-text;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
  border: none;
  outline: none;
  padding: 10px 15px;
}
