.paginationWrapper {
  display: flex;
  align-items: center;

  .prev {
    margin-right: 25px;
  }

  .next {
    margin-left: 25px;
  }

  .list {
    display: flex;
    align-items: center;

    .paginationItem {
      cursor: pointer;
      line-height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;

      &:hover {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #4778EC;
        color: #fff;
      }
    }

    > .paginationItem + .paginationItem {
      margin-left: 5px;
    }
  }
}
