.container {
  height: 100%;
  background: url(../../public/svgs/pages/home-bg.svg) right center no-repeat;
}

.main {
  display: grid;
  grid-template: 250px 80px 295px auto/ 965px 440px;
  row-gap: 10px;
  column-gap: 20px;
  padding: 25px 20px 20px;
}

.keepPlaying {
  grid-row: span 4;
}
