.container {
  padding: 30px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 765px 575px;
  background: url(#{$path-svg}/pages/abacus-bg.svg) right bottom no-repeat;
}
.paymentsTable {
  grid-column: 1 / -1;
}
