.container {
  width: 745px;
  height: 215px;

  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(4, min-content) 60px;
  align-items: end;
  column-gap: 40px;

  padding: 25px 35px;

  background: white url(#{$path-svg}/card-student/bg-small.svg) no-repeat bottom
    right;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);

  &Extended {
    width: 965px;
    height: 250px;
    grid-template-rows: repeat(5, 45px);
    align-items: center;
    column-gap: 30px;
    padding: 20px 45px 10px;
    background-image: url(#{$path-svg}/card-student/bg.svg);

    .avatar {
      grid-row: span 4;
    }
  }

  &Minimal {
    width: 500px;
    height: 170px;
    align-items: start;
    column-gap: 45px;
    padding: 25px 30px;
    grid-template-rows: 70px 35px min-content;
    background-image: initial;

    .avatar {
      grid-row: span 3;
      width: 128px;
      height: 122px;
    }

    .infoVisualiser {
      color: $color-red;
    }
  }
}
.avatar {
  width: 180px;
  height: 170px;
  grid-row: span 5;
}
.studentNameContainer {
  display: flex;
  column-gap: 35px;
  align-items: center;
}
.studentName {
  font: $font-secondary-subheader;
  color: $color-text-darker;
}
.tag {
  padding: 11px 15px;
  background: #f8f8ff;
  border-radius: 10px;
  font: $font-small;
  color: $color-secondary-text;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font: $font-small;

  &Text {
    white-space: nowrap;
    color: $color-secondary-text;
  }
  &Visualiser {
    color: $color-visualiser;
  }
}
.points {
  &Visualiser {
    margin-left: auto;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    // text-shadow: inset 4px 4px 12px #bbc3ce, inset -4px -4px 12px #fdffff;

    @include gradient-text(
      linear-gradient(0deg, #e6eef8, #e6eef8),
      linear-gradient(0deg, #cfd8dc, #cfd8dc)
    );
  }
}
.zoomBtn {
  width: 190px;
}
.addNewLessonBtn {
  width: 225px;
}
