.container {
  position: absolute;
  top: 0;
  left: -185px;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 31, 32, 0.6);
}
