.container {
  padding: 15px 25px;
  color: black;
  font: $font-small;

  &:nth-of-type(2) {
    height: 80px;
    padding-top: 30px;
  }

  &:nth-of-type(odd) {
    background-color: #f8f8ff;
  }
}

.item {
  max-width: 170px;
}
