.container {
  display: grid;
  grid-template-columns: 745px 595px 285px;
  grid-template-rows: repeat(2, min-content);
  gap: 50px 20px;
  padding: 25px 50px 60px 20px;
}
.schedule {
  grid-column: 1 / -1;
}
