$widthBlock: 1359px;

.innerContent {
  padding: 24px 0 18px 21px;
  background: url(#{$path-svg}/pages/abacus-bg.svg) right center no-repeat;

  & .wrapBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    width: $widthBlock;

    & .infoBlock1 {
      width: 33%;
    }

    & .infoBlock2 {
      width: 33%;
    }

    & .infoBlock3 {
      width: 33%;

      & .btnBlock {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;

        & button {
          margin-left: 20px;
        }

        .buttonSize {
          padding: 11px 33px;
        }
      }
    }
  }

  .tableBlock {
    display: flex;

    .tableContent {
      width: $widthBlock;
    }

    .rightBlock {
      width: 287px;
      margin-left: 20px;
    }
  }
}
