.container {
  font: $font-small;
  white-space: nowrap;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(186, 198, 216, 0.2);

  & > div > div {
    padding: 2px 7px;
    border: none;
  }
}

.auto {
  width: max-content;
}

.normal {
  width: 140px;
}

.large {
  width: 235px;
}
